
<h1>Scramble game</h1>
<ng-template #restart>
    <button *ngIf="!timer" (click)="words = wordsService.words ">continue?</button>
</ng-template>
<button *ngIf="words.length; else restart" (click)="start(); input.focus()" [disabled] = "timer" >
    <span *ngIf="!timer; else timeLeft">{{  !words.length || !currentWord  ? 'start' : 'next' }}</span>
    <ng-template #timeLeft>
        <span>left {{secondsLeft}}</span>
    </ng-template>
</button>



<label for="word"><h2>{{shuffledWord}}</h2></label>
<input id="word" #input [(ngModel)]="userWord"  type="text" (keyup)="checkInput()">

<h2>wins: {{wins}}</h2>

<h2>losses: {{losses}}</h2>

